################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GrantManagementSystem/v17/DocumentLayout.json
