@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Weber State Grant Management System.</h1>
    <p>The Grant Management System is designed to streamline the management of grants, departments, and colleges within an organization. It provides a user-friendly interface for administrators, employees, and department heads to manage grant-related information efficiently.</p>
</div>
