@page
@model Grant_Management_System.Pages.Account.LoginModel
@{
}
<div class="container border" style="padding:20px">
    <form method="post">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="=" form-group row>
            <div class=" = " col-3>
                <label asp-for="credential.Email"></label>
            </div>
            <div class="col-5">
                <input type="text" asp-for="credential.Email" />
            </div>
            <span class="text-danger" asp-validation-for="credential.Email"></span>
        </div>
        <div class="=" form-group row>
            <div class=" = " col-3>
                <label asp-for="credential.Password"></label>
            </div>
            <div class="col-5">
                <input type="password" asp-for="credential.Password" />
            </div>
            <span class="text-danger" asp-validation-for="credential.Password"></span>
        </div>
        <div class="=" form-group row>
            <div class=" = " col-3>
                <input type="submit" class="btn btn-primary" value="Login" />
            </div>
        </div>
    </form>
</div>