@page
@model Grant_Management_System.Pages.Account.ReviewPageModel
@{
    ViewData["Title"] = "Review Page";
}

<h4>Review</h4>
<table>
    <thead>
        <tr>
            <th>Grant Type</th>
            <th>Grant Title</th>
            <th>Principle Investigator</th>
            <th>College</th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>